In [ ]:
##Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def read_and_display(filepath):
    data = pd.read_csv(filepath)
    print(data.shape)
    display(data.head())
    return data

In [3]:
desc_data_train = read_and_display("Description Data/train_desc_df.csv")

(3000, 51)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
0,1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
1,2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
2,3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,...,-0.626436,-0.102908,0.576792,-0.805986,0.310637,0.422263,0.403496,0.264240,7.057590,-0.252417
3,4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,...,-0.435836,0.052975,0.108777,-0.599593,0.408430,0.591615,0.415667,0.334706,7.025648,-0.309093
4,5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,...,-1.714496,0.297421,-0.097744,0.000669,-1.639307,0.244313,0.099975,0.371806,-2.259024,-0.131085

In [4]:
desc_data_public = read_and_display("Description Data/public_desc_df.csv")

(986, 51)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
0,3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
1,3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
2,3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3,3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,...,0.246156,-1.001942,-1.502183,1.105716,-0.170937,0.181976,0.437707,0.058352,-2.209322,0.104916
4,3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262

In [5]:
img_data_train = read_and_display("Image Data/train_image_df.csv")

(3000, 4001)

,comp_id,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
0,1,0.484456,0.036087,-0.149328,0.144475,-0.617386,0.035018,0.169174,-0.005733,-0.104908,...,-0.090408,-0.032915,-0.010857,-0.015954,0.123416,0.195833,-0.066449,0.115818,-0.005140,0.017278
1,2,0.074533,-0.015655,-0.016286,-0.480964,0.687917,0.037131,-0.149725,-0.002098,0.099383,...,-0.625816,-0.009616,0.004558,0.008310,-0.173496,0.133518,-0.488898,0.084832,0.146566,0.007997
2,3,-0.396809,0.021490,-1.723037,0.666147,-0.631924,0.047724,0.336041,-0.003904,0.039683,...,-0.078059,0.086320,-0.005606,0.002414,-0.164493,0.218473,0.151292,-0.076860,0.008321,0.012555
3,4,0.995316,0.012766,0.387472,-0.684791,-0.209261,0.013654,0.138517,0.005586,0.079277,...,-0.190714,-0.005452,-0.003889,0.013430,0.344406,0.038220,0.210446,-0.145128,-0.019172,0.000532
4,5,-0.611648,0.000860,-0.572393,0.894287,-0.191228,-0.111583,-0.011111,0.003231,-0.160582,...,-0.040437,-0.142134,-0.022771,-0.013134,-0.024869,0.125129,0.215967,0.005288,0.145715,0.001425

In [6]:
img_data_public = read_and_display("Image Data/public_image_df.csv")

(986, 4001)

,comp_id,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
0,3001,-0.288211,0.007964,-0.318695,-0.519448,-0.707238,0.018358,-0.127491,0.006911,-0.163305,...,0.095390,-0.005706,0.011662,0.027501,0.202042,0.031049,0.058993,0.085795,-0.033876,-0.010047
1,3002,-0.053049,-0.019362,-0.942308,0.971880,-0.145869,0.190100,0.323404,0.001693,0.052303,...,-0.152575,-0.015299,0.006474,0.008779,0.064745,-0.130691,0.519738,-0.009965,0.226757,0.001792
2,3003,0.527363,0.027754,-1.644639,-0.362191,-0.275900,0.095907,-0.083026,-0.002009,0.041976,...,-0.139857,0.056012,0.010546,-0.013047,0.395852,0.064757,0.061725,0.081311,0.094162,-0.015818
3,3004,0.709023,0.002011,-0.968376,0.478994,-0.451566,0.217366,-0.036373,0.004914,0.133615,...,-0.343643,0.072151,0.045109,-0.009794,-0.002994,0.142427,-0.001836,0.116891,0.078607,-0.000430
4,3005,-0.349026,-0.060301,-1.099632,1.475574,-0.076292,0.153835,-0.143689,0.006389,0.058670,...,0.158350,-0.024394,0.002807,-0.004787,-0.012235,0.022360,0.034833,0.084962,-0.092006,0.010375

In [7]:
title_data_train = read_and_display("Title_Data/train_title_df.csv")

(3000, 51)

,comp_id,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
0,1,-0.977637,-0.543310,0.079403,0.205560,-1.497104,0.230466,0.566112,-0.662264,0.130342,...,0.059434,-0.272340,-0.030180,-0.109040,-0.033425,0.728739,0.142030,0.397541,1.270722,-0.816523
1,2,0.041873,0.644655,0.140869,-0.664714,-0.062992,0.240086,-1.017593,1.019706,0.340133,...,0.242961,-0.404538,0.335224,-0.158068,-0.178225,0.351125,0.959121,0.673848,-0.530106,0.133466
2,3,-0.905595,0.097928,0.111981,-0.064753,-1.566516,0.140807,-0.946588,-0.342442,0.031226,...,0.414191,-0.457968,0.157185,-0.116985,0.404937,-0.220503,0.443171,0.643445,0.357957,0.525154
3,4,0.069220,0.411544,0.177700,-0.739998,-0.932620,-0.717982,-0.406487,-0.267096,0.114066,...,0.211731,-0.812590,0.258014,-0.180143,-0.564691,-0.515378,0.613686,0.817547,0.325042,0.254415
4,5,0.503560,-0.210970,-0.085412,0.549240,-0.019521,-0.255597,0.841144,0.250485,0.224235,...,-0.517912,0.543584,0.492052,-0.204867,-0.011538,-0.328607,-0.150055,-0.992373,-0.266003,-0.037134

In [8]:
title_data_public = read_and_display("Title_Data/public_title_df.csv")

(986, 51)

,comp_id,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
0,3001,0.363698,0.309343,0.225138,0.318105,-0.523210,0.143360,-0.012829,0.407408,-0.048370,...,0.532943,0.194463,-0.635401,-0.419310,0.142901,-0.523376,1.204893,-1.413345,-0.096672,0.078235
1,3002,0.218130,1.117077,0.122527,-0.005565,-0.158261,0.390527,0.189782,0.685502,-0.383055,...,0.548985,0.066296,-0.525967,-0.674784,0.151137,-1.065329,0.751027,-1.075753,-0.009242,0.464259
2,3003,0.209271,0.785080,0.287104,0.508236,0.306759,0.505576,-0.172887,0.324774,-0.032752,...,0.803655,0.199135,-0.580919,-0.569989,0.033141,-0.658906,0.956579,-0.885134,-0.233097,0.235301
3,3004,1.160773,-0.491947,0.188722,-0.100140,-1.738414,-0.105218,0.400427,-0.216526,-0.371494,...,0.125851,0.735062,0.330460,0.646128,0.809633,0.162228,0.274926,-0.085908,0.217528,1.031500
4,3005,1.338603,0.599431,0.519767,-0.198956,0.850357,0.039661,0.248881,0.885659,0.245418,...,0.531473,-0.406249,-0.507858,-0.187037,0.802942,-0.472328,0.897817,-1.227795,0.746802,-0.379223

In [9]:
meta_data_train = read_and_display("Metadata/train_meta_df.csv")

(3000, 14)

,comp_id,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
0,1,False,True,1.77778,86,3,True,False,0,290,3,0,5,6
1,2,False,True,1.33333,1129,2,True,False,0,1443,0,2,5,6
2,3,False,True,1.76667,1163,2,True,False,0,329,0,1,5,6
3,4,False,True,1.77778,1326,2,True,False,0,63,0,3,5,6
4,5,False,True,1.77273,2612,2,True,False,3,37,0,0,5,6

In [10]:
meta_data_public = read_and_display("Metadata/public_meta_df.csv")

(986, 13)

,comp_id,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
0,3001,False,True,1.33333,1675,2,False,False,0,10,2,2,3
1,3002,False,True,1.33333,1479,2,False,False,0,10,2,2,3
2,3003,False,True,1.33333,1505,2,False,False,0,10,2,2,3
3,3004,False,True,1.77778,50,2,True,True,1,6,5,2,3
4,3005,False,True,1.33333,1543,2,False,False,0,6,2,2,3

In [11]:
train_data= pd.concat([desc_data_train, title_data_train, img_data_train, meta_data_train], axis=1)
print(train_data.shape)
train_data.head()

(3000, 4117)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
0,1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,86,3,True,False,0,290,3,0,5,6
1,2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,1129,2,True,False,0,1443,0,2,5,6
2,3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,...,1163,2,True,False,0,329,0,1,5,6
3,4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,...,1326,2,True,False,0,63,0,3,5,6
4,5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,...,2612,2,True,False,3,37,0,0,5,6

In [12]:
test_data = pd.concat([desc_data_public, title_data_public, img_data_public, meta_data_public], axis=1)
print(test_data.shape)
test_data.head()

(986, 4116)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
0,3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,1.33333,1675,2,False,False,0,10,2,2,3
1,3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,1.33333,1479,2,False,False,0,10,2,2,3
2,3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,1.33333,1505,2,False,False,0,10,2,2,3
3,3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,...,1.77778,50,2,True,True,1,6,5,2,3
4,3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,1.33333,1543,2,False,False,0,6,2,2,3

In [13]:
train_data.select_dtypes(exclude=np.number)

      ad_blocked  embed  partner  partner_active
0          False   True     True           False
1          False   True     True           False
2          False   True     True           False
3          False   True     True           False
4          False   True     True           False
...          ...    ...      ...             ...
2995       False   True    False           False
2996       False   True    False           False
2997       False   True    False           False
2998       False   True    False           False
2999       False   True    False           False

[3000 rows x 4 columns]

In [14]:
ad_blocked = train_data['ad_blocked'].value_counts()
embed = train_data['embed'].value_counts()
partner = train_data['partner'].value_counts()
partner_active = train_data['partner_active'].value_counts()

train_data['Encoded_ad_blocked'] = train_data['ad_blocked'].map(ad_blocked)
train_data['Encoded_embed'] = train_data['embed'].map(embed)
train_data['Encoded_partner'] = train_data['partner'].map(partner)
train_data['Encoded_partner_active'] = train_data['partner_active'].map(partner_active)

train_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
0,False,2980,True,2982,True,1806,False,2317
1,False,2980,True,2982,True,1806,False,2317
2,False,2980,True,2982,True,1806,False,2317
3,False,2980,True,2982,True,1806,False,2317
4,False,2980,True,2982,True,1806,False,2317

In [15]:
train_data = train_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
print(train_data.shape)
train_data.head()

(3000, 4117)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,n_likes,views,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
0,1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,0,290,3,0,5,6,2980,2982,1806,2317
1,2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,...,0,1443,0,2,5,6,2980,2982,1806,2317
2,3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,...,0,329,0,1,5,6,2980,2982,1806,2317
3,4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,...,0,63,0,3,5,6,2980,2982,1806,2317
4,5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,...,3,37,0,0,5,6,2980,2982,1806,2317

In [16]:
ad_blocked = test_data['ad_blocked'].value_counts()
embed = test_data['embed'].value_counts()
partner = test_data['partner'].value_counts()
partner_active = test_data['partner_active'].value_counts()

test_data['Encoded_ad_blocked'] = test_data['ad_blocked'].map(ad_blocked)
test_data['Encoded_embed'] = test_data['embed'].map(embed)
test_data['Encoded_partner'] =test_data['partner'].map(partner)
test_data['Encoded_partner_active'] = test_data['partner_active'].map(partner_active)

test_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
0,False,986,True,952,False,749,False,842
1,False,986,True,952,False,749,False,842
2,False,986,True,952,False,749,False,842
3,False,986,True,952,True,237,True,144
4,False,986,True,952,False,749,False,842

In [17]:
test_data = test_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
print(test_data.shape)
test_data.head()

(986, 4116)

,comp_id,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,...,language,n_likes,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
0,3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,2,0,10,2,2,3,986,952,749,842
1,3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,2,0,10,2,2,3,986,952,749,842
2,3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,2,0,10,2,2,3,986,952,749,842
3,3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,...,2,1,6,5,2,3,986,952,237,144
4,3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,...,2,0,6,2,2,3,986,952,749,842

In [18]:
y = train_data['views'].iloc[:-1].values
X = train_data.drop(['views'], axis = 1).iloc[:-1].values

In [19]:
#Importing Packages
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from xgboost import XGBRegressor
from xgboost import XGBRFRegressor
from sklearn.model_selection import GridSearchCV

from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor #For Regression

#regr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.01, max_depth=6)

est = GradientBoostingRegressor(n_estimators=100, max_depth=6, learning_rate=0.2, loss='huber', random_state=0)

est.fit(X_train, y_train)

# evaluate adaboost ensemble for regression
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import AdaBoostRegressor
from math import sqrt 
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# define dataset
#X_test, y_test = make_regression(n_samples=1000, n_features=100, n_informative=15, noise=0.1, random_state=6)
# define the model
model = AdaBoostRegressor()
# evaluate the model
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_train, y_train, scoring = 'neg_mean_absolute_error', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

In [ ]:
#model.fit(X_train, y_train)

In [ ]:
#y_pred = model.predict(X_test)

In [ ]:
#mse = mean_squared_error(y_test, y_pred)

#print("MSE: ", mse)

from sklearn.grid_search import GridSearchCV

param_grid = {'learning_rate': [0.1, 0.05, 0.02, 0.01], 'max_depth': [4, 6],
'min_samples_leaf': [3, 5, 9, 17],
# 'max_features': [1.0, 0.3, 0.1] ## not possible in our example (only 1 fx)
}

est = GradientBoostingRegressor(n_estimators=3000)
# this may take some minutes
gs_cv = GridSearchCV(est, param_grid, n_jobs=4).fit(X_train, y_train)