In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def read_and_display(filepath):
    data = pd.read_csv(filepath, index_col='comp_id')
    print(data.shape)
    display(data.head())
    return data

In [3]:
desc_data_train = read_and_display("Description Data/train_desc_df.csv")

(3000, 50)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,-0.029430,-0.029423,0.052256,0.007814,0.023472,-0.021134,0.003324,-0.004393,0.004294,-0.002223
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,-0.626436,-0.102908,0.576792,-0.805986,0.310637,0.422263,0.403496,0.264240,7.057590,-0.252417
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,-0.435836,0.052975,0.108777,-0.599593,0.408430,0.591615,0.415667,0.334706,7.025648,-0.309093
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,-1.714496,0.297421,-0.097744,0.000669,-1.639307,0.244313,0.099975,0.371806,-2.259024,-0.131085

In [4]:
desc_data_public = read_and_display("Description Data/public_desc_df.csv")

(986, 50)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,desc_41,desc_42,desc_43,desc_44,desc_45,desc_46,desc_47,desc_48,desc_49,desc_50
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,0.246156,-1.001942,-1.502183,1.105716,-0.170937,0.181976,0.437707,0.058352,-2.209322,0.104916
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,-1.111625,0.252028,-0.193523,0.346493,-0.077318,0.276308,-0.045740,-0.007150,-3.448430,-0.031262

In [5]:
img_data_train = read_and_display("Image Data/train_image_df.csv")

(3000, 4000)

,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,image_10,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
comp_id,,,,,,,,,,,,,,,,,,,,,
1,0.484456,0.036087,-0.149328,0.144475,-0.617386,0.035018,0.169174,-0.005733,-0.104908,-0.041200,...,-0.090408,-0.032915,-0.010857,-0.015954,0.123416,0.195833,-0.066449,0.115818,-0.005140,0.017278
2,0.074533,-0.015655,-0.016286,-0.480964,0.687917,0.037131,-0.149725,-0.002098,0.099383,-0.021134,...,-0.625816,-0.009616,0.004558,0.008310,-0.173496,0.133518,-0.488898,0.084832,0.146566,0.007997
3,-0.396809,0.021490,-1.723037,0.666147,-0.631924,0.047724,0.336041,-0.003904,0.039683,0.002628,...,-0.078059,0.086320,-0.005606,0.002414,-0.164493,0.218473,0.151292,-0.076860,0.008321,0.012555
4,0.995316,0.012766,0.387472,-0.684791,-0.209261,0.013654,0.138517,0.005586,0.079277,-0.004665,...,-0.190714,-0.005452,-0.003889,0.013430,0.344406,0.038220,0.210446,-0.145128,-0.019172,0.000532
5,-0.611648,0.000860,-0.572393,0.894287,-0.191228,-0.111583,-0.011111,0.003231,-0.160582,0.032804,...,-0.040437,-0.142134,-0.022771,-0.013134,-0.024869,0.125129,0.215967,0.005288,0.145715,0.001425

In [6]:
img_data_public = read_and_display("Image Data/public_image_df.csv")

(986, 4000)

,image_1,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,image_10,...,image_3991,image_3992,image_3993,image_3994,image_3995,image_3996,image_3997,image_3998,image_3999,image_4000
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.288211,0.007964,-0.318695,-0.519448,-0.707238,0.018358,-0.127491,0.006911,-0.163305,-0.001028,...,0.095390,-0.005706,0.011662,0.027501,0.202042,0.031049,0.058993,0.085795,-0.033876,-0.010047
3002,-0.053049,-0.019362,-0.942308,0.971880,-0.145869,0.190100,0.323404,0.001693,0.052303,0.008241,...,-0.152575,-0.015299,0.006474,0.008779,0.064745,-0.130691,0.519738,-0.009965,0.226757,0.001792
3003,0.527363,0.027754,-1.644639,-0.362191,-0.275900,0.095907,-0.083026,-0.002009,0.041976,0.008518,...,-0.139857,0.056012,0.010546,-0.013047,0.395852,0.064757,0.061725,0.081311,0.094162,-0.015818
3004,0.709023,0.002011,-0.968376,0.478994,-0.451566,0.217366,-0.036373,0.004914,0.133615,0.019694,...,-0.343643,0.072151,0.045109,-0.009794,-0.002994,0.142427,-0.001836,0.116891,0.078607,-0.000430
3005,-0.349026,-0.060301,-1.099632,1.475574,-0.076292,0.153835,-0.143689,0.006389,0.058670,-0.021164,...,0.158350,-0.024394,0.002807,-0.004787,-0.012235,0.022360,0.034833,0.084962,-0.092006,0.010375

In [7]:
title_data_train = read_and_display("Title_Data/train_title_df.csv")

(3000, 50)

,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,title_10,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.977637,-0.543310,0.079403,0.205560,-1.497104,0.230466,0.566112,-0.662264,0.130342,-0.277137,...,0.059434,-0.272340,-0.030180,-0.109040,-0.033425,0.728739,0.142030,0.397541,1.270722,-0.816523
2,0.041873,0.644655,0.140869,-0.664714,-0.062992,0.240086,-1.017593,1.019706,0.340133,0.617302,...,0.242961,-0.404538,0.335224,-0.158068,-0.178225,0.351125,0.959121,0.673848,-0.530106,0.133466
3,-0.905595,0.097928,0.111981,-0.064753,-1.566516,0.140807,-0.946588,-0.342442,0.031226,-0.660981,...,0.414191,-0.457968,0.157185,-0.116985,0.404937,-0.220503,0.443171,0.643445,0.357957,0.525154
4,0.069220,0.411544,0.177700,-0.739998,-0.932620,-0.717982,-0.406487,-0.267096,0.114066,-0.045532,...,0.211731,-0.812590,0.258014,-0.180143,-0.564691,-0.515378,0.613686,0.817547,0.325042,0.254415
5,0.503560,-0.210970,-0.085412,0.549240,-0.019521,-0.255597,0.841144,0.250485,0.224235,0.082816,...,-0.517912,0.543584,0.492052,-0.204867,-0.011538,-0.328607,-0.150055,-0.992373,-0.266003,-0.037134

In [8]:
title_data_public = read_and_display("Title_Data/train_title_df.csv")

(3000, 50)

,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,title_10,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.977637,-0.543310,0.079403,0.205560,-1.497104,0.230466,0.566112,-0.662264,0.130342,-0.277137,...,0.059434,-0.272340,-0.030180,-0.109040,-0.033425,0.728739,0.142030,0.397541,1.270722,-0.816523
2,0.041873,0.644655,0.140869,-0.664714,-0.062992,0.240086,-1.017593,1.019706,0.340133,0.617302,...,0.242961,-0.404538,0.335224,-0.158068,-0.178225,0.351125,0.959121,0.673848,-0.530106,0.133466
3,-0.905595,0.097928,0.111981,-0.064753,-1.566516,0.140807,-0.946588,-0.342442,0.031226,-0.660981,...,0.414191,-0.457968,0.157185,-0.116985,0.404937,-0.220503,0.443171,0.643445,0.357957,0.525154
4,0.069220,0.411544,0.177700,-0.739998,-0.932620,-0.717982,-0.406487,-0.267096,0.114066,-0.045532,...,0.211731,-0.812590,0.258014,-0.180143,-0.564691,-0.515378,0.613686,0.817547,0.325042,0.254415
5,0.503560,-0.210970,-0.085412,0.549240,-0.019521,-0.255597,0.841144,0.250485,0.224235,0.082816,...,-0.517912,0.543584,0.492052,-0.204867,-0.011538,-0.328607,-0.150055,-0.992373,-0.266003,-0.037134

In [9]:
title_data_public = read_and_display("Title_Data/public_title_df.csv")

(986, 50)

,title_1,title_2,title_3,title_4,title_5,title_6,title_7,title_8,title_9,title_10,...,title_41,title_42,title_43,title_44,title_45,title_46,title_47,title_48,title_49,title_50
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,0.363698,0.309343,0.225138,0.318105,-0.523210,0.143360,-0.012829,0.407408,-0.048370,-0.298985,...,0.532943,0.194463,-0.635401,-0.419310,0.142901,-0.523376,1.204893,-1.413345,-0.096672,0.078235
3002,0.218130,1.117077,0.122527,-0.005565,-0.158261,0.390527,0.189782,0.685502,-0.383055,0.402898,...,0.548985,0.066296,-0.525967,-0.674784,0.151137,-1.065329,0.751027,-1.075753,-0.009242,0.464259
3003,0.209271,0.785080,0.287104,0.508236,0.306759,0.505576,-0.172887,0.324774,-0.032752,0.168677,...,0.803655,0.199135,-0.580919,-0.569989,0.033141,-0.658906,0.956579,-0.885134,-0.233097,0.235301
3004,1.160773,-0.491947,0.188722,-0.100140,-1.738414,-0.105218,0.400427,-0.216526,-0.371494,0.231583,...,0.125851,0.735062,0.330460,0.646128,0.809633,0.162228,0.274926,-0.085908,0.217528,1.031500
3005,1.338603,0.599431,0.519767,-0.198956,0.850357,0.039661,0.248881,0.885659,0.245418,-0.147505,...,0.531473,-0.406249,-0.507858,-0.187037,0.802942,-0.472328,0.897817,-1.227795,0.746802,-0.379223

In [10]:
meta_data_train = read_and_display("Metadata/train_meta_df.csv")

(3000, 13)

,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,
1,False,True,1.77778,86,3,True,False,0,290,3,0,5,6
2,False,True,1.33333,1129,2,True,False,0,1443,0,2,5,6
3,False,True,1.76667,1163,2,True,False,0,329,0,1,5,6
4,False,True,1.77778,1326,2,True,False,0,63,0,3,5,6
5,False,True,1.77273,2612,2,True,False,3,37,0,0,5,6

In [11]:
meta_data_public = read_and_display("Metadata/public_meta_df.csv")

(986, 12)

,ad_blocked,embed,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,
3001,False,True,1.33333,1675,2,False,False,0,10,2,2,3
3002,False,True,1.33333,1479,2,False,False,0,10,2,2,3
3003,False,True,1.33333,1505,2,False,False,0,10,2,2,3
3004,False,True,1.77778,50,2,True,True,1,6,5,2,3
3005,False,True,1.33333,1543,2,False,False,0,6,2,2,3

In [12]:
train_data= pd.concat([desc_data_train, title_data_train, img_data_train, meta_data_train], axis=1)
print(train_data.shape)
train_data.head()

(3000, 4113)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,duration,language,partner,partner_active,n_likes,views,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,86,3,True,False,0,290,3,0,5,6
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,1129,2,True,False,0,1443,0,2,5,6
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,1163,2,True,False,0,329,0,1,5,6
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,1326,2,True,False,0,63,0,3,5,6
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,2612,2,True,False,3,37,0,0,5,6

In [13]:
test_data = pd.concat([desc_data_public, title_data_public, img_data_public, meta_data_public], axis=1)
print(test_data.shape)
test_data.head()

(986, 4112)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,ratio,duration,language,partner,partner_active,n_likes,n_tags,n_formats,dayofweek,hour
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1675,2,False,False,0,10,2,2,3
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1479,2,False,False,0,10,2,2,3
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1505,2,False,False,0,10,2,2,3
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,1.77778,50,2,True,True,1,6,5,2,3
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,1.33333,1543,2,False,False,0,6,2,2,3

In [14]:
train_data.select_dtypes(exclude=np.number)

         ad_blocked  embed  partner  partner_active
comp_id
1             False   True     True           False
2             False   True     True           False
3             False   True     True           False
4             False   True     True           False
5             False   True     True           False
...             ...    ...      ...             ...
2996          False   True    False           False
2997          False   True    False           False
2998          False   True    False           False
2999          False   True    False           False
3000          False   True    False           False

[3000 rows x 4 columns]

In [15]:
ad_blocked = train_data['ad_blocked'].value_counts()
embed = train_data['embed'].value_counts()
partner = train_data['partner'].value_counts()
partner_active = train_data['partner_active'].value_counts()

train_data['Encoded_ad_blocked'] = train_data['ad_blocked'].map(ad_blocked)
train_data['Encoded_embed'] = train_data['embed'].map(embed)
train_data['Encoded_partner'] = train_data['partner'].map(partner)
train_data['Encoded_partner_active'] = train_data['partner_active'].map(partner_active)

train_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
comp_id,,,,,,,,
1,False,2980,True,2982,True,1806,False,2317
2,False,2980,True,2982,True,1806,False,2317
3,False,2980,True,2982,True,1806,False,2317
4,False,2980,True,2982,True,1806,False,2317
5,False,2980,True,2982,True,1806,False,2317

In [16]:
train_data = train_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
print(train_data.shape)
train_data.head()

(3000, 4113)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,n_likes,views,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
comp_id,,,,,,,,,,,,,,,,,,,,,
1,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,0,290,3,0,5,6,2980,2982,1806,2317
2,-0.009555,0.002479,0.002927,0.015774,-0.008177,-0.016036,0.026697,-0.000106,0.025788,0.052237,...,0,1443,0,2,5,6,2980,2982,1806,2317
3,-0.356706,0.213562,0.252663,0.090735,0.328961,-0.482705,0.067300,0.384217,-0.147253,-0.463378,...,0,329,0,1,5,6,2980,2982,1806,2317
4,-0.294013,0.165262,0.257102,0.421037,0.463214,-0.769155,0.159450,0.236385,-0.183974,-0.357842,...,0,63,0,3,5,6,2980,2982,1806,2317
5,-0.028657,0.157017,0.282709,-2.674227,-0.711383,2.259387,-0.162175,0.605468,0.712229,0.027828,...,3,37,0,0,5,6,2980,2982,1806,2317

In [17]:
ad_blocked = test_data['ad_blocked'].value_counts()
embed = test_data['embed'].value_counts()
partner = test_data['partner'].value_counts()
partner_active = test_data['partner_active'].value_counts()

test_data['Encoded_ad_blocked'] = test_data['ad_blocked'].map(ad_blocked)
test_data['Encoded_embed'] = test_data['embed'].map(embed)
test_data['Encoded_partner'] =test_data['partner'].map(partner)
test_data['Encoded_partner_active'] = test_data['partner_active'].map(partner_active)

test_data[['ad_blocked', 'Encoded_ad_blocked', 'embed', 'Encoded_embed', 'partner', 'Encoded_partner', 'partner_active', 'Encoded_partner_active']].head()

,ad_blocked,Encoded_ad_blocked,embed,Encoded_embed,partner,Encoded_partner,partner_active,Encoded_partner_active
comp_id,,,,,,,,
3001,False,986,True,952,False,749,False,842
3002,False,986,True,952,False,749,False,842
3003,False,986,True,952,False,749,False,842
3004,False,986,True,952,True,237,True,144
3005,False,986,True,952,False,749,False,842

In [18]:
test_data = test_data.drop(['ad_blocked','embed','partner','partner_active'], axis = 1)
print(test_data.shape)
test_data.head()

(986, 4112)

,desc_1,desc_2,desc_3,desc_4,desc_5,desc_6,desc_7,desc_8,desc_9,desc_10,...,language,n_likes,n_tags,n_formats,dayofweek,hour,Encoded_ad_blocked,Encoded_embed,Encoded_partner,Encoded_partner_active
comp_id,,,,,,,,,,,,,,,,,,,,,
3001,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3002,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3003,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,10,2,2,3,986,952,749,842
3004,-0.298706,-0.022012,0.552924,0.046070,0.044543,0.132187,-0.549770,1.437774,1.286943,1.445921,...,2,1,6,5,2,3,986,952,237,144
3005,-0.266289,0.151930,0.188684,0.935617,0.021999,0.100940,0.107302,-0.055652,0.023322,-0.523113,...,2,0,6,2,2,3,986,952,749,842

In [19]:
##Separating Target from the feature for training

y = train_data['views'].iloc[:-1].values
X = train_data.drop(['views'], axis = 1).iloc[:-1].values

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [21]:
print(y_train.shape)

(2099,)

In [22]:
y_test.shape

(900,)

In [23]:
##Using Logistic Regression
model = LogisticRegression()
model.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
ypred = model.predict(X_test)
print(ypred)

[  98   65   62  665   65   65   21  220  140   62   20   98   98   21
   21   44   62  220  220   20   65   31   98   65   98   65   98  220
   65   65   40   98   65  220  140  220   33   31  220   65   98   65
   21  220   98   21   21   21   65   44   98   65   65  220  220  268
  113  220   98  268   20   44   98   98   21  220   21   27  220   20
   21   20   62   20   21  220   65   65   20   65   44   65  220   65
   65   65   21  220   98  220   21   62  220   98   31  220  220   98
  220   21   30   98   44   44   48   24   20   20  220  140   22   21
   21   21  268  140   21   98   98   65   20   44   21   21   98   65
   20   65  140  220  268   65   21  268   98   31   21  140   20   21
   65   21   20   20   98   24  220   20   24   27  220   98   65   65
   98   65   20   98   98   98   65   31   31  220   21   31   44   65
   65   98  220  140   21   65   20   98   21   65   22   98   65   31
   65   27   30   98   30   20   98   31   98   44   65   20   65  665
  220   27  220   21   65   27   20   21   21   48   21   65   44   20
   20   98   30   20   65   65   21   98  220   31  220   27   65   31
  140   21   65   20   90   31   20   21   65   65   21   20   65   98
   27   31  220  220  220  220   65  268   98   21   31   21   21   20
   54   94   98   65   65  268   98   27   20   20   31  220  220   65
   21  220   65   65   24   21  220   21   98   21   65  220   21   27
   62  140  268   27   98   62  220  220  220   20   44   62   21   20
   98  220   21   21   98   98   65  220   90   65   21   31   21  220
  268   65   98   65   21   65   20   20   21   20   27  220  220   20
   20   31   21   31   65   22   20  220   48   65   98   31   44   65
  220   65   21   20  292   31   27   21   65   65   98   22  220   21
  220   21   20   21   65   20   31   27   65   65  220   65   98   98
   65  220   65   98   98  220  220   21   98   98   65  268   20   65
   20  220   20   27   30   98  268   98   20   24   98   20   20   31
   21   27   21   98   65   65   31   21   98   65   98   21   21   44
   31   20   21  140   21   27   98  220   20  268   98  220  220   44
   31   98   20   98  220   49   21   65  220   65   21   94   20  220
  220   21   21   31   65   21   31   21   20  140  220   44   62  220
   90   62   65   65   21  220  220   65   98   31  140   65  220   31
   21   65   21   20   65   49  220   21   20  220   94   20  140   65
  220   20  220  220   21   33   21  140   21   65   44   98   20   94
   21   65   65  220  220   20   98   27   21   65  268  220   31  140
   31   20  268   21   21   65   21   98   20   20   65   27   98   98
   98   98   98  268  140   65   65  220   31   21   98   31   65   65
   21   98  220   94   20   90  268   20   33   20   65   65  220   21
   44   98  582   27  220   49   21   21  220   21   65   98  220  220
  140   31   21   20  220   65  220   65   65   21   21   21  268   98
   20   31   65  220   21   98   27   21   20   90   98   21   65   65
  220   44   20   24   48  220   44   31   31   65   98  268   31   20
  220   27   20   31  220   21  220   21   65  140  220   94   98   65
   21   90   31   24   62   98   20   21   20  268  220   54   65   62
   98   65   20   98   20  140   65  220  220   20   98   65   20   65
   44   21  220   33  220   21  220   27   21   20   20  220   24   65
   27   21   65   65   48   20   21   98  220   65   20   65   21   98
   62  140   65   31   65   98   94   98   65   27  140   98   27   27
   65  220  220   21   20  220   20   31   65  220   44  268   21   31
  220   98   21   22  220   27   27   98   65   65   20   65   24   21
   62   21   65   20   98   21   22   21   20   65   98   65   98   20
   20   98   98   21   27   40   65   65  220   98   65  220   22  220
   98   21  220   65   65   65   98   31   65   98   48  220   65  220
   65   27  220   27   44   98  220  140  220   21  220   21   65  268
   62  220   20   65   98   20   65   65   98  220   94   98   65   98
  220   21   21   21   21   65  140   65 4160   98   65   98   21   20
  268   21  140  268   98   48   65   65   62   44   98  113   31   98
  268   94   21   31   21  220   62   98   90   65   98   65  268   65
   98  140   22   31   21   65  140  140  220  268   20   65   65  220
   98   21   98   90  220   21   98   98   65   65  220   65   48   65
   21  220   65   98   27   98  220   21   21   20   31   90   33  220
   20   22   24   20   20   65   21   31   94   31   21  268  423  220
   62  113  220  220   65  220   21   21   65   20  220   27   20  582
   27  220   21  268]

In [25]:
ypred.shape

(900,)

In [26]:
##Evaluation
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, ypred))
rmse

1237.2228520180006

In [27]:
evaluation = rmse/ (max(y_test))
evaluation

0.12961999497307497

In [28]:
ypred = model.predict(test_data)

In [29]:
submission = pd.DataFrame()

submission['views'] = ypred

submission['comp_id'] = index_col='comp_id'

submission.to_csv('solution.csv', index=False)

In [30]:
###Using Random Forest Classifier
forest = RandomForestClassifier()
forest.fit(X_train, y_train)

RandomForestClassifier()

In [31]:
ypred_forest = forest.predict(X_test)
print(ypred_forest)

[ 103  206   90   33   52   62  117   20   36   21   24   73   69   21
   53   20  105   45   59   30  171   29   82   73   20   24   31   49
   63   24   31   27   21  143   29   51   20   22   95   42   21   69
  154   21  145   27   24  131  111  221   63   59   89   46   30   20
   91  492   33  118   33   27   51   31  243  220   33  138  122  218
  114   28   53   25   74   21   20  122   27   20   21   61   75   38
   24   23   74   75   21   79   63   34   21   97  208   33   48  165
   97   30   82   43  206   21   42   50   45   21   80   24   24   20
   31   73   27   27   26  105   25   98   47   29   31  128   30  119
   31   48   82   43   93  132   20   56   70   23   79   48   27  105
   20   57  284   43  110   30  132   92  103   31   64   35  278   66
   60   28   31  103  174  101   54   57   80   53   20   49  208   24
   44   40   82   80   55  110  105   22   53   30   63   27   51   26
  118   33   95   31  120   48  136   26   20   49   20   37   58  105
   62   48   73   61  154   21  103  164   31   54   48   25   82   77
   33  118   20   31  157   20  196   34  122   33  103 2120   85   20
   37  288   29  591   21 2120   41   26   58   25   26  121   40   23
   21  153   44   36   44   82   38   20   27   44   90   60  209   31
   58   33  110   58   41   20  154 5072  490   80   27   24  174  105
   21   33  128   63   21   31  221  111  122   30   27   25   60 4355
   27   21  144   69   80  246   95   43   44  134   76  204  179   33
   20  199   21   21   21   94   85   57   79  103   65   45   94   59
  492   31   27  209  133   33   21 1387   20   90  242   31   45   26
  214   20   24   49   97   27   24   29  154   48   20   23   22   24
   80  119   32   49   61   20   97   21   31   30   20  229   23  134
   48   74   20   60  105  243   23   24   29  157   56  259   24   20
   25   33   27   64   85   20   48   33  186   30   73  110   54   58
   25   20   64   21  103   40   42   93   21   44   20   69   48   20
   31   23   27   34   86  122   46  103   44  144   20   80   60   26
   20   65   30   36   21   21   65   32  103   90   48   31  492   53
   38   46   65   20   20   21   89   31   85   22   79   27   34   33
  879  134  171   27   20  103   41   40   82   37  117   58  174   33
   20   73   24   21   85   77  263   90   25  147   81   20   46   46
   74   47  584   73   30   25   79   69  118   94   21   21   61   24
  243  103   42   20   46   50   30   36   25  243   24   44   31   23
   27   21  174   30  144   24   42  134   82   66  132  221   33   58
   21   22  109   95   48   36  158   20   20  100   20   29   24  199
   35  154 1311   52   21   22   27   21   48   21   48   95  117   64
   48   61   82  131  103   38   38   65   53   31   28   58   46   33
   33   31  144   65   24  366   20   34   21  183   65  366   96   82
   21   23   31 5735   30   31   94   82   22   64   48   35   31   46
   84   33   57  186   60   44   25   45   42   30   53  174   49   21
   67   40   33   73   49   25   40  253   31   82   85   52   43   81
   21   48  208  105  119   98   53   25  109   48   31   24   22   37
   69   21   21   27   49   32   31   25   30   53   79   82   21   58
   31   24   33   20  490   58   59   46   48   43   22   37   51  128
   32   35   29   41  185   31   25   25   24   31   33  117   21   21
   20   25   38   90   29   42   41  151   24  158  197   40 1062   48
   33   51   34   31   27   30   20   21  161  101   21   71   21 3923
   37   33   53  104   76  205   91   39  107   37  103   33  131   28
   44   61   25   32   43  121   20   30   85   22  104   40   69  584
   82   42   57   31   31   41   27  188 5262   28   92   94   61   31
   27   52   40   20   31   20   57   25 2858   52   61   73   27   95
   20   45  230   21   24   20   23   27   31   63   31   20   37   30
  120  119   23   24   21   52   44  208  196  157  103   31   22   21
   84   91   92   94  288   36   22   97   53   93   35   47   27   64
  117  216   94   49   29  214   49   20   48   29   60   20   79  110
   41   71   33   53   44   79   74   31   21   46   91   24   53   48
   85   24  157  103   33   45   27  132   37   20   35   80  116   26
   47   21   21   82   43  168  105   84  118   33  134   47   48   65
   55   53   77 6526   95  247   21   58   24   21   33   33   26  484
   48   27   24   45   36   43  102  278   44   59   43   67   97  132
   20   26   35   71   22   85   79  225   44   21   43   22  584   24
   33  103   46   41  230 1361   33   21  247   79   23   20   24   21
 4355   94   31   23]

In [33]:
rmse = sqrt(mean_squared_error(y_test, ypred_forest))
rmse

1308.3890697257364

In [34]:
evaluation = rmse/ (max(y_test))
evaluation

0.1370758585359598

In [35]:
ypred_forest = forest.predict(test_data)

In [36]:
submission = pd.DataFrame()
submission["comp_id"] = index_col
submission["views"] = ypred_forest

submission.to_csv('sol_forest.csv', index=False)