## Make necessary imports:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the train data

In [3]:
train_dataset = pd.read_csv('train.csv')
train_dataset.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,...,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel,Best_Offer
0,Customer_434,Female,97134,Suburban,Single,Kano,5017.009472,Interested,Silver,First_Degree,...,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent,1
1,Customer_4641,Female,53754,Suburban,Married,Abuja,5151.301306,Not_interested,Silver,First_Degree,...,SUV,Small,5,2,0,1,Personal,P_L2,Agent,3
2,Customer_4952,Female,25804,Suburban,Divorced,Lagos,4906.894731,Interested,Silver,HND,...,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent,0
3,Customer_1489,Female,0,Suburban,Single,Imo,8512.525936,Not_interested,Silver,HND,...,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch,1
4,Customer_812,Male,140494,Rural,Single,Imo,3280.531880,Not_interested,Silver,PHD,...,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center,3

# Read the test data

In [4]:
test_dataset = pd.read_csv('test.csv')
test_dataset.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,...,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,Customer_708,Male,149170,Rural,Married,Lagos,4224.631209,Not_interested,Bronze,O_Level,...,218.598065,SUV,Medsize,1,49,0,1,Personal,P_L3,Agent
1,Customer_47,Female,46436,Suburban,Single,Abuja,5516.344018,Not_interested,Bronze,O_Level,...,447.793440,Two-Door Car,Medsize,7,10,0,4,Personal,P_L2,Agent
2,Customer_3995,Female,189806,Suburban,Married,Abuja,3810.122147,Interested,Silver,HND,...,451.200000,Two-Door Car,Small,3,38,0,1,Personal,P_L3,Agent
3,Customer_1513,Female,154306,Urban,Married,Lagos,7916.823110,Not_interested,Silver,HND,...,355.641958,Four-Door Car,Medsize,3,27,2,5,Personal,P_L3,Branch
4,Customer_3686,Female,47538,Suburban,Divorced,Kano,7933.722181,Not_interested,Bronze,O_Level,...,470.097411,Four-Door Car,Medsize,18,14,0,2,Personal,P_L2,Branch

# Data info

In [5]:
print(train_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    6393 non-null   object
 1   Sex                            6393 non-null   object
 2   Earnings                       6393 non-null   int64
 3   Region_Code                    6393 non-null   object
 4   Marital Status                 6393 non-null   object
 5   State_of_Origin                6393 non-null   object
 6   Customer_Worth                 6393 non-null   float64
 7   Customer_Reply                 6393 non-null   object
 8   Plan                           6393 non-null   object
 9   Certification                  6393 non-null   object
 10  Effective To Date              6393 non-null   object
 11  Status_of_Employment           6393 non-null   object
 12  Premium_Auto_per_Month         6393 non-null   int64
 13  Total Claim Amount             6393 non-null   float64
 14  Vehicle Class                  6393 non-null   object
 15  Vehicle Size                   6393 non-null   object
 16  Months Since Last Claim        6393 non-null   int64
 17  Months Since Policy Inception  6393 non-null   int64
 18  Counts_of_Open_Complaints      6393 non-null   int64
 19  No_Of_POlicy                   6393 non-null   int64
 20  kind_of_policy                 6393 non-null   object
 21  Active_Policy                  6393 non-null   object
 22  Sales Channel                  6393 non-null   object
 23  Best_Offer                     6393 non-null   int64
dtypes: float64(2), int64(7), object(15)
memory usage: 1.2+ MB
None

In [6]:
print(test_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    2741 non-null   object
 1   Sex                            2741 non-null   object
 2   Earnings                       2741 non-null   int64
 3   Region_Code                    2741 non-null   object
 4   Marital Status                 2741 non-null   object
 5   State_of_Origin                2741 non-null   object
 6   Customer_Worth                 2741 non-null   float64
 7   Customer_Reply                 2741 non-null   object
 8   Plan                           2741 non-null   object
 9   Certification                  2741 non-null   object
 10  Effective To Date              2741 non-null   object
 11  Status_of_Employment           2741 non-null   object
 12  Premium_Auto_per_Month         2741 non-null   int64
 13  Total Claim Amount             2741 non-null   float64
 14  Vehicle Class                  2741 non-null   object
 15  Vehicle Size                   2741 non-null   object
 16  Months Since Last Claim        2741 non-null   int64
 17  Months Since Policy Inception  2741 non-null   int64
 18  Counts_of_Open_Complaints      2741 non-null   int64
 19  No_Of_POlicy                   2741 non-null   int64
 20  kind_of_policy                 2741 non-null   object
 21  Active_Policy                  2741 non-null   object
 22  Sales Channel                  2741 non-null   object
dtypes: float64(2), int64(6), object(15)
memory usage: 492.6+ KB
None

In [1]:
train_dataset.columns

NameError: name 'train_dataset' is not defined

# Categorical data

In [7]:
categorical = (train_dataset.dtypes == "object")
categorical_list = list(categorical[categorical].index)
print(categorical_list)

['Customer_ID', 'Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy', 'Active_Policy', 'Sales Channel']

In [8]:
categorical = (test_dataset.dtypes == "object")
categorical_list = list(categorical[categorical].index)
print(categorical_list)

['Customer_ID', 'Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy', 'Active_Policy', 'Sales Channel']

In [9]:
#Drop "Customer_ID" because it won't be useful
train_dataset.drop(['Customer_ID'], axis = 'columns', inplace= True)
train_dataset.head()

,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective To Date,...,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel,Best_Offer
0,Female,97134,Suburban,Single,Kano,5017.009472,Interested,Silver,First_Degree,3/2/2011,...,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent,1
1,Female,53754,Suburban,Married,Abuja,5151.301306,Not_interested,Silver,First_Degree,1/22/11,...,SUV,Small,5,2,0,1,Personal,P_L2,Agent,3
2,Female,25804,Suburban,Divorced,Lagos,4906.894731,Interested,Silver,HND,2/14/11,...,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent,0
3,Female,0,Suburban,Single,Imo,8512.525936,Not_interested,Silver,HND,8/1/2011,...,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch,1
4,Male,140494,Rural,Single,Imo,3280.531880,Not_interested,Silver,PHD,2/19/11,...,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center,3

# Data Cleaning and Processing

In [10]:
#Drop "Customer_ID" because it won't be useful
test_dataset.drop(['Customer_ID'], axis = 'columns', inplace= True)
test_dataset.head()

,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective To Date,...,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,Male,149170,Rural,Married,Lagos,4224.631209,Not_interested,Bronze,O_Level,1/17/11,...,218.598065,SUV,Medsize,1,49,0,1,Personal,P_L3,Agent
1,Female,46436,Suburban,Single,Abuja,5516.344018,Not_interested,Bronze,O_Level,2/1/2011,...,447.793440,Two-Door Car,Medsize,7,10,0,4,Personal,P_L2,Agent
2,Female,189806,Suburban,Married,Abuja,3810.122147,Interested,Silver,HND,1/28/11,...,451.200000,Two-Door Car,Small,3,38,0,1,Personal,P_L3,Agent
3,Female,154306,Urban,Married,Lagos,7916.823110,Not_interested,Silver,HND,9/2/2011,...,355.641958,Four-Door Car,Medsize,3,27,2,5,Personal,P_L3,Branch
4,Female,47538,Suburban,Divorced,Kano,7933.722181,Not_interested,Bronze,O_Level,2/20/11,...,470.097411,Four-Door Car,Medsize,18,14,0,2,Personal,P_L2,Branch

Sex = train_dataset.select_dtypes(exclude=np.number)['Sex'].value_counts()
Region_Code = train_dataset['Region_Code'].value_counts()
Marital Status = train_dataset['Marital Status'].value_counts()
State_of_Origin = train_dataset['State_of_Origin'].value_counts()
Customer_Reply = train_dataset['Customer_Reply'].value_counts()
Plan = train_dataset['Plan'].value_counts()
Certification = train_dataset['Certification'].value_counts()
Effective To Date = train_dataset['Effective To Date'].value_counts()
Status_of_Employment = train_dataset['Status_of_Employment'].value_counts()
Vehicle Class = train_dataset['Vehicle Class'].value_counts()
Vehicle Size = train_dataset['Vehicle Size'].value_counts()
kind_of_policy = train_dataset['kind_of_policy'].value_counts()
Active_Policy = train_dataset['Active_Policy'].value_counts()
Sales Channel = train_dataset['Sales Channel'].value_counts()


train_dataset['Encoded_Sex'] = train_dataset['Sex'].map(Sex)
train_dataset['Encoded_Region_Code'] = train_dataset['Region_Code'].map(Region_Code)
train_dataset['Encoded_Marital Status'] = train_dataset['Marital Status'].map(Marital Status)
train_dataset['Encoded_State_of_Origin'] = train_data['State_of_Origin'].map(State_of_Origin)
train_dataset['Encoded_Customer_Reply'] = train_dataset['Customer_Reply'].map(Customer_Reply)
train_dataset['Encoded_Plan'] = train_dataset['Plan'].map(Plan)
train_dataset['Encoded_Certification'] = train_dataset['Certification'].map(Certification)
train_dataset['Encoded_Effective To Date'] = train_dataset['Effective To Date'].map(Effective To Date)
train_dataset['Encoded_Status_of_Employment'] = train_dataset['Status_of_Employment'].map(Status_of_Employment )
train_dataset['Encoded_Vehicle Class'] = train_dataset['Vehicle Class'].map(Vehicle Class)
train_dataset['Encoded_Vehicle Size'] = train_dataset['Vehicle Size'].map(Vehicle Size)
train_dataset['Encoded_kind_of_policy'] = train_dataset['kind_of_policy'].map(kind_of_policy)
train_dataset['Encoded_Active_Policy'] = train_dataset['Active_Policy'].map(Active_Policy)
train_dataset['Encoded_Sales Channel'] = train_dataset['Sales Channel'].map(Sales Channel)

train_data[['Sex', 'Encoded_Sex', 'Region_Code', 'Encoded_Region_Code', 'Marital Status', 'Encoded_Marital Status',
            'State_of_Origin', 'Encoded_State_of_Origin', 'Customer_Reply', 'Encoded_Customer_Reply', 
            'Plan', 'Encoded_Plan', 'Certification', 'Encoded_Certification', 'Effective To Date', 'Encoded_Effective To Date', 
            'Status_of_Employment', 'Encoded_Status_of_Employment', 'Vehicle Class', 'Encoded_Vehicle Class',
            'Vehicle Size', 'Encoded_Vehicle Size','kind_of_policy', 'Encoded_kind_of_policy',
            'Active_Policy', 'Encoded_Active_Policy', 'Sales Channel', 'Encoded_Sales Channel']].head()

# Feature Engineering

In [29]:
train_data_dummy = pd.get_dummies(train_dataset[['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 
                                                 'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 
                                                 'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 
                                                 'kind_of_policy', 'Active_Policy', 'Sales Channel']])
train_data_dummy.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Active_Policy_P_L1,Active_Policy_P_L2,Active_Policy_P_L3,Active_Policy_S_L1,Active_Policy_S_L2,Active_Policy_S_L3,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,1,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,0,0
2,1,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1,0,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0

In [30]:
train_data = pd.concat([train_data_dummy, train_dataset], axis = 1)
train_data.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel,Best_Offer
0,1,0,0,1,0,0,0,1,0,0,...,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent,1
1,1,0,0,1,0,0,1,0,1,0,...,SUV,Small,5,2,0,1,Personal,P_L2,Agent,3
2,1,0,0,1,0,1,0,0,0,0,...,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent,0
3,1,0,0,1,0,0,0,1,0,0,...,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch,1
4,0,1,1,0,0,0,0,1,0,0,...,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center,3

In [31]:
train_data = train_data.drop(['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Reply', 'Plan', 
                              'Certification', 'Effective To Date',  'Status_of_Employment', 'Vehicle Class', 
                              'Vehicle Size', 'kind_of_policy', 'Active_Policy', 'Sales Channel'], axis = 1)
train_data.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Sales Channel_Web,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,Best_Offer
0,1,0,0,1,0,0,0,1,0,0,...,0,97134,5017.009472,260,624.000000,12,15,0,1,1
1,1,0,0,1,0,0,1,0,1,0,...,0,53754,5151.301306,262,628.800000,5,2,0,1,3
2,1,0,0,1,0,1,0,0,0,0,...,0,25804,4906.894731,278,667.200000,3,51,0,1,0
3,1,0,0,1,0,0,0,1,0,0,...,0,0,8512.525936,242,871.200000,5,94,0,8,1
4,0,1,1,0,0,0,0,1,0,0,...,0,140494,3280.531880,166,141.799422,13,19,2,1,3

In [34]:
test_data_dummy = pd.get_dummies(test_dataset[['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 
                                                  'Customer_Reply', 'Plan', 'Certification', 'Effective To Date', 
                                                  'Status_of_Employment', 'Vehicle Class', 'Vehicle Size', 'kind_of_policy', 
                                                  'Active_Policy', 'Sales Channel']])
test_data_dummy.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Active_Policy_P_L1,Active_Policy_P_L2,Active_Policy_P_L3,Active_Policy_S_L1,Active_Policy_S_L2,Active_Policy_S_L3,Sales Channel_Agent,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web
0,0,1,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,0,0
2,1,0,0,1,0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
3,1,0,0,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,1,0,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [35]:
test_data = pd.concat([test_data_dummy, test_dataset], axis = 1)
test_data.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,0,1,1,0,0,0,1,0,0,0,...,218.598065,SUV,Medsize,1,49,0,1,Personal,P_L3,Agent
1,1,0,0,1,0,0,0,1,1,0,...,447.793440,Two-Door Car,Medsize,7,10,0,4,Personal,P_L2,Agent
2,1,0,0,1,0,0,1,0,1,0,...,451.200000,Two-Door Car,Small,3,38,0,1,Personal,P_L3,Agent
3,1,0,0,0,1,0,1,0,0,0,...,355.641958,Four-Door Car,Medsize,3,27,2,5,Personal,P_L3,Branch
4,1,0,0,1,0,1,0,0,0,0,...,470.097411,Four-Door Car,Medsize,18,14,0,2,Personal,P_L2,Branch

In [36]:
test_data = test_data.drop(['Sex', 'Region_Code', 'Marital Status', 'State_of_Origin', 'Customer_Reply', 'Plan', 
                              'Certification', 'Effective To Date',  'Status_of_Employment', 'Vehicle Class', 
                              'Vehicle Size', 'kind_of_policy', 'Active_Policy', 'Sales Channel'], axis = 1)
test_data.head()

,Sex_Female,Sex_Male,Region_Code_Rural,Region_Code_Suburban,Region_Code_Urban,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,State_of_Origin_Abuja,State_of_Origin_Enugu,...,Sales Channel_Call Center,Sales Channel_Web,Earnings,Customer_Worth,Premium_Auto_per_Month,Total Claim Amount,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy
0,0,1,1,0,0,0,1,0,0,0,...,0,0,149170,4224.631209,212,218.598065,1,49,0,1
1,1,0,0,1,0,0,0,1,1,0,...,0,0,46436,5516.344018,142,447.793440,7,10,0,4
2,1,0,0,1,0,0,1,0,1,0,...,0,0,189806,3810.122147,188,451.200000,3,38,0,1
3,1,0,0,0,1,0,1,0,0,0,...,0,0,154306,7916.823110,198,355.641958,3,27,2,5
4,1,0,0,1,0,1,0,0,0,0,...,0,0,47538,7933.722181,138,470.097411,18,14,0,2

# Data processing

In [44]:
y = train_data['Best_Offer' ]
X = train_data.drop(['Best_Offer'], axis = 1)

# Scale the data

In [45]:
scaler = StandardScaler()
X=scaler.fit_transform(X)
test_data=scaler.transform(test_data)

# Split the data, Import metric and necessary libraries

In [50]:
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error, r2_score
from math import sqrt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from catboost import CatBoostRegressor
import xgboost as xgbr


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# Now, let's train the model

In [51]:
#Regr = [CatBoostRegressor(), xgboost.XGBRFRegressor(), DecisionTreeRegressor(),RandomForestRegressor(),GradientBoostingRegressor(random_state=58,n_estimators=500)]
#models = ['CatBoostRegressor', 'xgboost', 'DecisionTreeRegressor', 'RandomForestRegressor','GradientBoostingRegressor']

In [52]:
from xgboost import XGBRegressor
xgbr = xgbr.XGBRegressor(verbosity=0) 
print(xgbr)

XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=0)

In [55]:
xgbr.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [56]:
from sklearn.model_selection import cross_val_score, KFold

score = xgbr.score(X_train,y_train)  
print("Training score: ", score)

Training score:  0.8335413198131396

# Predict

In [57]:
ypred = xgbr.predict(X_test)
print(ypred)

[ 1.2129606  1.8299285  1.2853578 ...  1.1908576 -0.3419253  0.6286858]

In [ ]:
mse = mean_squared_error(y_test, ypred)
print("MSE: %.2f" % mse)